.valor span {
    font-size: 14px;
    margin: 0px 15px;
}

.card-edit p{
    margin: 0px;
}

.card-header{
    background-color:#0d6efd;
    text-align: center;
    font-weight: bold;
    color: white;
}

.card-total{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
}

a {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    background-color:#0d6efd;
    color: aliceblue;
    border-radius: 5px;
    padding: 4px;
}

a:hover {
    color: rgb(66, 17, 201);
    background-color: rgb(66, 182, 248);
}