body{
    margin: 0px;
    padding: 0px;
}


p#cliente-nome {
    color: #F2F2F2;
    padding: 5px;
    margin: 5px;

}

.valor span {
    font-size: 12px;
    margin: 0px 5px;
}

div.card-cima p,span{
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
}



.card-edit p{
    margin: 3px;
}

.card-text {
    font-size:14px;
    font-weight: bold;
    
}

span{
    font-size: 12px;
    font-weight: normal;
    
}

.card-header{
    background-color:#0d6efd;
    text-align: center;
    font-weight: bold;
    color: white;
}

.card-total{    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
}

a.icon-bt, a.botao-excluir{
    text-align: center;
    font-size: 08px;
    text-decoration: none;
    margin: 1px;
    background-color:#0d6efd;
    color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    width: 40px;    
}

a.icon-bt:hover {
    color: rgb(66, 17, 201);
    background-color: rgb(66, 182, 248);
}

a.botao-excluir {
    background-color: #8C2730;
}

/*CSS PAGINA CONTAS QUITADAS*/

button.cor-quitadas {
    background-color: #A3CFBB;
}

div.cor-quitadas {
    background-color:#D1E7DD ;
}

.card-header{
    background-color:#1C8C4D;
    text-align: center;
    font-weight: bold;
    color: white;
}

a.icon-bt-quitadas, a.botao-excluir-quitadas{
    text-align: center;
    font-size: 08px;
    text-decoration: none;
    margin: 1px;
    background-color:#1C8C4D;
    color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    width: 40px;    
}

a.icon-bt-quitadas:hover {
    color: rgb(66, 17, 201);
    background-color: rgb(66, 182, 248);
}


/*CSS PAGINA CONTAS CANCELADAS*/

.card-header{
    background-color:#D93654;
    text-align: center;
    font-weight: bold;
    color: white;
}

a.icon-bt-canceladas, a.botao-excluir-quitadas{
    text-align: center;
    font-size: 08px;
    text-decoration: none;
    margin: 1px;
    background-color:#D93654;
    color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    width: 40px;    
}

a.icon-bt-canceladas:hover {
    color: rgb(66, 17, 201);
    background-color: rgb(66, 182, 248);
}








